__pycache__/
*.pyc
.DS_Store
outputs/
data/
backups/
.tmp/
tmp/
.pytest_cache/
paper_assets/
patches/
.venv/
.venvs/
Lightwheel/
.cache/
examples/mujoco_models
MUJOCO_LOG.TXT
PartField_ckpt.zip
Particulate/
Particulate_ckpt.zip
Particulate_ckpt/
__MACOSX/
Hunyuan3D-2/
real_data/
sam2/
sam3_ckpt/
Particulate/
external_reart_tmp/
